DFC.Digital/DFC.Digital.Service.CourseSearch/Connected Services/CourseSearchServiceApi/CourseSearchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.imservices.gov.uk/alse/coursesearch/providersearch/1.0" elementFormDefault="qualified" targetNamespace="http://schemas.imservices.gov.uk/alse/coursesearch/providersearch/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://apitest.coursedirectoryproviderportal.org.uk/CourseSearchService.svc?xsd=xsd1" namespace="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" />
  <xs:element name="ProviderSearchRequest" type="tns:ProviderSearchRequestStructure" />
  <xs:complexType name="ProviderSearchRequestStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ProviderKeyword" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="APIKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProviderSearchResponse" type="tns:ProviderSearchResponseStructure" />
  <xs:complexType name="ProviderSearchResponseStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProviderDetails" type="tns:ProviderStructure" />
      <xs:element minOccurs="0" maxOccurs="1" name="RequestDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ProviderSearch" type="tns:ProviderSearchRequestStructure" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProviderStructure">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" minOccurs="0" maxOccurs="1" name="Provider" type="q1:ProviderDetail" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>