DFC.Digital/DFC.Digital.Service.CourseSearch/Connected Services/CourseSearchServiceApi/CourseSearchService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.imservices.gov.uk/alse/coursesearch/coursedetail/1" elementFormDefault="qualified" targetNamespace="http://schemas.imservices.gov.uk/alse/coursesearch/coursedetail/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://apitest.coursedirectoryproviderportal.org.uk/CourseSearchService.svc?xsd=xsd1" namespace="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" />
  <xs:element name="CourseDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseID" type="xs:integer" />
        <xs:element minOccurs="0" maxOccurs="1" name="APIKey" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RequestDetails" type="tns:CourseDetailRequestStructure" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseDetails" type="tns:CourseDetailStructure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CourseDetailRequestStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseID" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="APIKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CourseDetailStructure">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" minOccurs="0" maxOccurs="1" name="Provider" type="q1:ProviderDetail" />
      <xs:element xmlns:q2="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" minOccurs="0" maxOccurs="1" name="Course" type="q2:CourseDetail" />
      <xs:element xmlns:q3="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" minOccurs="0" maxOccurs="unbounded" name="Opportunity" type="q3:OpportunityDetail" />
      <xs:element xmlns:q4="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" minOccurs="0" maxOccurs="unbounded" name="Venue" type="q4:VenueDetail" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>